footer.footer
    .footer__container
        .footer__top
            .footer__top-container.container
                .footer__logo 
                    img.footer__logo-image(src="@img/icons/icons.svg#Aura-logo" alt="Aura logo" width="80" height="80")
                .footer__link-group     
                    a.footer__link.link-2(href="#" name="Соглашение") Соглашение
                    a.footer__link.link-2(href="#" name="Лицензия") Лицензия
                    a.footer__link.link-2(href="#" name="FAQ") FAQ
        .footer__bottom
            p.footer__age AURA® | 2021