footer.footer
    .footer__container    
        .footer__top
            .footer__top-container.container
                p.footer__caption Для попадания в топ необходимо:
                ul.footer__list 
                    li.footer__list-item Минимум пять опубликованных работ
                    li.footer__list-item Инвайт трём коллегам по цеху
                    li.footer__list-item Верифицированный аккаунт
        .footer__medium 
            .footer__medium-container.container
                .footer__logo 
                    img.footer__logo-image(src="@img/icons/icons.svg#Aura-logo" alt="Aura logo" width="80" height="80")
                .footer__link-group     
                    a.footer__link.link(href="#") Соглашение
                    a.footer__link.link(href="#") Лицензия
                    a.footer__link.link(href="#") FAQ
        .footer__bottom
            .footer__bottom-container.container
                p.footer__age AURA® | 2021