header.header
    .header__container.container 
        .header__logo
            img.header__logo-image(src="@img/icons/icons.svg#Aura-logo" alt="Aura logo" width="80" height="80")
        ul.header__menu
            li.header__menu-item
                a.header__link.link(href="#") Авторы
            li.header__menu-item 
                a.header__link.link(href="#") Коллекции
            li.header__menu-item 
                a.header__link.link(href="#") Сервисы
        a.header__wallet.button-1(href="#") Кошелёк
        a.header__wallet-mobile(href="#")
