header.header
    .header__container.container 
        .header__logo
            img.header__logo-image(src="@img/icons/icons.svg#Aura-logo" alt="Aura logo" width="80" height="80")
        ul.header__menu
            li.header__menu-item
                a.header__link.link(href="#" name="Авторы") Авторы
            li.header__menu-item 
                a.header__link.link(href="#" name="Коллекция") Коллекции
            li.header__menu-item 
                a.header__link.link(href="#" name="Сервисы") Сервисы
        a.header__wallet.button-1(href="#" name="Кошелёк") Кошелёк
        a.header__wallet-mobile(href="#" name="Кошелёк")
