.button-5 {
    @include button;
    padding: 25px 80px;
    color: $black;
    background: $primary;
    position: relative;
    border: none;
    max-height: 70px;
    z-index: 5;
    max-width: 296px;
    &::before {
        content: "";
        background: white;
        position: absolute;
        border-radius: 40px;
        inset: 5px;
        z-index: -1;
    }
}

@media screen and (max-width: 695px) {
    .button-5 {
        padding: 17px 24px;
        max-width: 200px;
    }
}

@media ($device-hover) and ($device-pointer) {
    .button-5 {
        &:hover {
            background: $primary;
            cursor: pointer;
            &::before {
                background: $primary;
            }
        }
        &:focus {
            background: $primary;
            outline: none;
            &::before {
                background: $primary;
            }
        }
        &:active {
            background: $active;
            &::before {
                background: $active;
            }
        }
    }
}