.link-2 {
    font-family: 'Muller', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin: 2px 10px;
    margin-top: 20px;
    color: $black;
}

@media ($device-hover) and ($device-pointer) {
    .link-2 {
        &:hover {
            cursor: pointer;
            opacity: 0.3;
        }
        &:focus {
            outline: 3px solid $black;
            padding: 2px 10px;
            margin: 0;
        }
        &:active {
            opacity: 0.3;
        }
    }
}

@media screen and (max-width: 426px) {
    .link-2 {
        font-size: 16px;
        line-height: 16px;
    }
}