.auction {
    &__container {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    &__title {
        display: inline;
        color: $black;
        position: relative;
    }
    &__mark {
        display: inline;
        color: $red;
        border-radius: 40px;
        border: 2px solid $red;
        text-align: center;
        font-size: 16px;
        font-family: Muller, sans-serif;
        font-weight: 700;
        padding: 7px 13px 7px 24px;
        margin-left: 31px;
        margin-top: 25px;
        position: absolute;
        white-space: nowrap;
        max-width: max-content;
        &::before {
            content: "";
            position: absolute;
            background: $red;
            top: 12px;
            left: 10px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
        }
    }
    .sticker {
        display: grid;
        grid-template-columns: 460px auto;
        gap: 32px;
        padding-top: 32px;
        &__picture {
            grid-column: 1;
            grid-row: 1/ span 4;
        }
        &__preview {
            height: min-content;
        }
        &__author {
            color: $black;
            font-size: 20px;
            font-weight: 400;
            font-family: Muller, sans-serif;
            font-weight: 700;
            border-radius: 23px;
            background: $grey_light;
            padding: 25px 16px 25px 80px;
            width: min-content;
            position: relative;
            &::before {
                content: "";
                width: 48px;
                height: 48px;
                position: absolute;
                top: 11px;
                left: 11px;
                background: url('@img/ellipse-1.png') 0 0 no-repeat;
                background-size: contain !important;
            }
        }
        &__name {
            color: $black;
            font-size: 48px;
            font-family: Muller, sans-serif;
            font-weight: 400;
        }
        &__timer-container {
            display: flex;
            flex-wrap: wrap;
            gap: 32px;
        }
        &__bid {
            color: $black;
            font-family: Muller, sans-serif;
            font-weight: 700;
            font-size: 20px;
            border-radius: 40px;
            background: $grey_light;
            padding: 32px;
        }
        &__bid-eth {
            font-size: 48px;
            padding-top: 16px;
        }
        &__bid-dol {
            color: $grey_middle;
            padding-top: 6px;
        }
        &__bid-timer {
            color: white;
            font-family: Muller, sans-serif;
            font-weight: 700;
            font-size: 20px;
            border-radius: 40px;
            background: $black;
            padding: 32px;
            position: relative;
            max-width: 460px;
            width: 100%;
            &::after {
                content: "";
                position: absolute;
                top: 27px;
                right: 32px;
                width: 121px;
                height: 121px;
                background-size: contain !important;
                background: url('@img/icons/icons.svg#clock') 0 0 no-repeat;
            }
        }
        &__bid-time {
            word-spacing: 20px;
            font-size: 48px;
            padding-top: 16px;
        }
        &__bid-time-caption {
            word-spacing: 47px;
            padding-left: 13px;
            padding-top: 6px;
        }
    }
    &__other-caption {
        padding-top: 90px;
        font-family: RussoOne, sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: $black;
    }
    &__other-wrapper{
        display: grid;
        grid-template-columns: repeat(4, minmax(232px, 296px));
        justify-content: space-evenly;
        gap: 32px;
        padding-top: 32px;
    }
    .item {
        display: grid;
        width: 100%;
        grid-template-rows: 174px 168px;
        border-radius: 40px;
        &__picture {
            background: $grey_light;
            border-radius: 40px 40px 0 0;
            text-align: center;
            align-self: center;
            padding: 5px;
        }
        &__caption {
            background: $black;
            padding-top: 20px;
            padding-left: 16px;
            border-radius: 0 0 40px 40px;
            color: white;
            font-size: 16px;
            font-family: Muller, sans-serif;
            font-weight: 700;
        }
        &__author {
            margin-left: 32px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: -5px;
                left: -32px;
                width: 24px;
                height: 24px;
                background-size: contain !important;
            }
        }
        &__name {
            font-size: 20px;
            margin-top: 20px;
        }
        &__bid {
            font-size: 20px;
            margin-top: 12px;
            color: $primary;
        }
        &__time {
            margin-top: 12px;
            color: $grey_middle;
        }
    }
    @for $i from 1 through 9 {
        .item:nth-child(#{$i}) {
            .item__author::before {
                background: url('@img/ellipse-#{$i + 1}.png') 0 0 no-repeat;
            }
        }
    }
    &__pagination {
        display: none;
    }
    &__button {
        margin: 32px auto 0;
    }
}

@media screen and (max-width: 1054px) {
    .auction {
        .hidden-item {
            display: none;
        }
        &__other-wrapper{
            grid-template-columns: repeat(3, minmax(232px, 296px));
        }
    }
}

@media screen and (max-width: 1023px) {
    .auction {
        .sticker {
            grid-template-columns: repeat(2, 1fr);
            &__author {
                font-size: 16px;
                padding: 15px 16px 15px 48px;
                border-radius: 18px;
                &::before {
                    width: 24px;
                    height: 24px;
                    left: 16px;
                }
            }
            &__name {
                font-size: 30px;
                white-space: nowrap;
            }
            &__timer-container {
                flex-direction: column;
            }
            &__bid {
                font-size: 16px;
                border-radius: 18px;
                padding: 16px;
                width: max-content;
            }
            &__bid-eth {
                font-size: 30px;
            }
            &__bid-dol {
                padding-top: 16px;
            }
            &__bid-timer {
                width: fit-content;
                border-radius: 18px;
                padding: 16px;
                font-size: 16px;
                height: max-content;
                &::after {
                    display: none;
                }
            }
            &__bid-time {
                font-size: 30px;
            }
            &__bid-time-caption {
                word-spacing: 30px;
                padding-left: 5px;
            }
            &__button {
                font-size: 16px;
                padding: 17px 24px;
                max-width: 200px;
            }
        }
    }
}

@media screen and (max-width: 832px) {
    .auction {
        &__other-wrapper{
            grid-template-columns: repeat(2, minmax(232px, 296px));
        }
    }
}

@media screen and (max-width: 695px) {
    .auction {
        &__container {
            padding-top: 80px;
            padding-bottom: 80px;
        }
        .sticker {
            grid-template-columns: unset;
            &__author {
                border-radius: 23px;
                padding: 25px 16px 25px 80px;
                border-radius: 23px;
                &::before {
                    width: 48px;
                    height: 48px;
                    top: 11px;
                    left: 11px;
                }
            }
            &__name {
                font-size: 48px;
            }
            &__timer-container {
                flex-direction: row;
            }
            &__bid {
                font-size: 20px;
                border-radius: 40px;
                padding: 32px;
            }
            &__bid-eth {
                font-size: 42px;
            }
            &__bid-timer {
                font-size: 20px;
                border-radius: 40px;
                padding: 32px;
            }
            &__bid-time {
                word-spacing: 20px;
                font-size: 42px;
                padding-top: 16px;
            }
            &__bid-time-caption {
                word-spacing: 47px;
                padding-left: 13px;
                padding-top: 6px;
            }
        }
        &__other-container{
            overflow: hidden;
            max-width: 296px;
            margin: auto;
        }
        &__other-wrapper{
            display: flex;
            min-width: 0;
            gap: 0;
            justify-content: unset;
        }
        &__other-caption {
            padding-top: 80px;
        }
        &__item {
            max-width: 296px;
        }
        &__pagination {
            display: flex;
            justify-content: center;
            margin-top: 16px;
        }
        &__button {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 631px) {
    .auction {
        &__mark {
            font-size: 12px;
            padding-left: 21px;
            max-width: 105px;
            margin-left: 15px;
            margin-top: 5px;
            &::before {
                height: 4px;
                width: 4px;
                top: 11px;
                left: 10px;
            }
        }
    }
}

@media screen and (max-width: 532px) {
    .auction {
        .sticker {
            gap: 16px;
            &__author {
                font-size: 16px;
                padding: 15px 16px 15px 48px;
                border-radius: 18px;
                &::before {
                    width: 24px;
                    height: 24px;
                    left: 16px;
                }
            }
            &__name {
                font-size: 30px;
                white-space: nowrap;
            }
            &__timer-container {
                flex-direction: column;
            }
            &__bid {
                font-size: 16px;
                border-radius: 18px;
                padding: 16px;
                width: max-content;
            }
            &__bid-eth {
                font-size: 30px;
            }
            &__bid-dol {
                padding-top: 16px;
            }
            &__timer-container {
                gap: 16px;
            }
            &__bid-timer {
                width: fit-content;
                border-radius: 18px;
                padding: 16px;
                font-size: 16px;
                height: max-content;
                &::after {
                    display: none;
                }
            }
            &__bid-time {
                font-size: 30px;
            }
            &__bid-time-caption {
                word-spacing: 30px;
                padding-left: 5px;
            }
            &__button {
                font-size: 16px;
                padding: 17px 24px;
                max-width: 200px;
                margin-top: 16px;
            }
        }
    }
}