.footer {
    &__top {
        background: $grey_deep;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    &__top-container {
        position: relative;
        width: 100%;
        &::before {
            content: "";
            position: absolute;
            width: 460px;
            height: 160px;
            top: 0;
            right: 15px;
            background: url('@img/smiles.png') 0 0 no-repeat;
            background-size: contain !important;
        }
    }
    &__caption {
        color: white;
        font-size: 24px;
        font-family: Muller, sans-serif;
        font-weight: 700;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-top: 25px !important;
        margin-left: 40px;
    }
    &__list-item {
        color: white;
        font-size: 18px;
        font-family: Muller, sans-serif;
        font-weight: 400;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: -8px;
            left: -40px;
            width: 32px;
            height: 32px;
            background-size: contain !important;
        }
    }
    &__list-item:first-child {
        &::before{
            background: url('@img/icons/icons.svg#images') 0 0 no-repeat;
        }
    }
    &__list-item:nth-child(2) {
        &::before{
            background: url('@img/icons/icons.svg#smile') 0 0 no-repeat;
        }
    }
    &__list-item:last-child {
        &::before{
            background: url('@img/icons/icons.svg#check-2') 0 0 no-repeat;
        }
    }
    &__medium {
        background: $primary;
    }
    &__medium-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        @media ($device-hover) and ($device-pointer) {
            &:hover {
                cursor: pointer;
                color: white;
            }
            &:focus {
                outline: 3px solid $active;
                color: white;
            }
            &:active {
                color: $active;
            }
        }
    }
    &__bottom {
        background: $black;
    }
    &__bottom {
        background: $black;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    &__age {
        color: $grey_light;
        font-size: 12px;
        font-weight: 400;
        font-family: Muller, sans-serif;
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        &__top-container {
            &::before {
                right: 40px;
            }
        }
    }
}