.header {
    &__container {
        display: flex;
        align-items: center;
    }
    &__logo {
        width: 140px;
        height: 80px;
    }
    &__menu {
        margin-left: 25px;
        margin-right: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    &__wallet {
        margin-left: auto;
    }
    &__wallet-mobile {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header {
        &__container {
            flex-wrap: wrap;
            padding: 0;
        }
        &__logo {
            order: -1;
            margin-left: 40px;
        }
        &__wallet {
            order: -1;
            margin-right: 40px;
        }
        &__menu {
            width: 100%;
            margin: auto;
            justify-content: space-around;
            border-top: 1px solid $grey_light;
        }
        &__menu-item {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }
}

@media screen and (max-width: 426px) {
    .header {
        &__logo {
            margin-left: 20px;
        }
        &__wallet {
            display: none;
        }
        &__wallet-mobile {
            display: block;
            content: "";
            height: 27px;
            width: 28.5px;
            top: 0;
            right: 0;
            margin-right: 20px;
            margin-left: auto;
            order: -1;
            background: url('@img/icons/icons.svg#wallet') 0 0 no-repeat;
            background-size: contain !important;
        }
        &__menu {
            margin-left: 10px;
            margin-right: 10px;
            justify-content: space-between;
        }
        &__menu-item {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

@media screen and (max-width: 375px) {
    .header {
        &__logo {
            margin-left: 12px;
        }
        &__wallet-mobile {
            margin-right: 12px;
        }
        &__menu {
            margin-left: 2px;
            margin-right: 2px;
        }
    }
}