.hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    min-height: 680px;
    height: calc(100lvh - 80px);
    background: $black;
    position: relative;
    overflow: hidden;
    &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 944px;
        top: 0;
        right: 0;
        background: url('@img/stickers_hero.png') 0 0 no-repeat;
        background-size: contain !important;
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width: 100%;
    }
    &__title {
        font-family: 'RussoOne', sans-serif; 
        font-weight: normal;
        font-size: 70px;
        color: white;
        z-index: 5;
    }
    &__link-group {
        display: flex;
        gap: 15px 30px;
        padding-top: 35px;
    }
    &__link:first-child {
        max-width: 176px;
        z-index: 5;
    }
    &__link:last-child {
        max-width: 247px;
        z-index: 5;
    }
}

@media screen and (max-width: 1880px) {
    .hero {
        &::after {
            width: 100%;
            top: 0;
            left: 55lvw;
            right: 0px;
        }
    }
}

@media screen and (max-width: 1180px) {
    .hero {
        &::after {
            width: 125%;
            top: 0;
            left: 640px;
            right: 0px;
        }
    }
}

@media screen and (max-width: 768px) {
    .hero {
        padding-top: 100px;
        min-height: 850px;
        &__container {
            padding-bottom: 100px;
        }
        &__title {
            font-size: 60px;
        }
        &::after {
            left: 0;
            width: 768px;
            position: relative;
            background: url('@img/stickers_hero_2.png') 0 0 no-repeat;
        }
    }
}

@media screen and (max-width: 585px) {
    .hero {
        min-height: 750px;
        &__title {
            font-size: 50px;
        }
        &__link:first-child,
        &__link:last-child {
            font-size: 16px;
            line-height: 16px;
        }
    }
}