.novelties {
    &__top {
        background: $black;
    }
    &__top-container {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    &__title {
        margin-left: 64px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            height: 48px;
            width: 48px;
            top: 10px;
            left: -64px;
            background: url('@img/fire.png') 0 0 no-repeat;
            background-size: contain !important;
        }
    }
    .example {
        padding-top: 32px;
        &__wrapper {
            .hidden-mob {
                display: block;
            }
            .hidden-comp {
                display: none;
            }
        }
        &__slide {
            display: flex;
            justify-content: center;
            gap: 0 28px;
            .hidden-mob {
                display: block;
            }
            .hidden-comp {
                display: none;
            }
        }
        &__image {
            max-height: 300px;
            min-width: 132px;
            min-height: 132px;
            img {
                height: auto;
            }
        }
        &__pagination {
            display: flex;
            justify-content: center;
            position: unset;
            padding-top: 64px;
        }
    }
    &__bottom {
        background: $red;
        overflow: hidden;
    }
    .form {
        padding-top: 32px;
        padding-bottom: 32px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: -70px;
            bottom: -70px;
            width: 788px;
            height: 528px;
            background: url('@img/OKAY.png') 0 0 no-repeat;
            background-size: contain !important;
        }
        &__caption {
            font-family: Russo One, sans-serif;
            font-size: 20px;
            color: white;
            white-space: nowrap;
            margin-bottom: 32px;
        }
        &__input {
            display: flex;
            max-width: 460px;
            min-width: 296px;;
            width: 100%;
            margin-bottom: 16px;
        }
        &__button {
            margin-bottom: 16px;
        }
        &__agreement {
            display: flex;
            align-items: center;
            color: white;
            font-size: 12px;
            font-weight: 700;
            font-family: Muller, sans-serif;
        }
        &__checkbox[type="checkbox"] {
            order: -1;
            display: grid;
            appearance: none;
            margin-right: 8px;
            height: 14px;
            width: 14px;
            border: 1px solid white;
            justify-items: center;
            align-items: center;
            &::before {
                content: "";
                display: none;
                width: 10px;
                height: 10px;
                background: url('@img/icons/icons.svg#check') 0 0 no-repeat;
                background-size: contain !important;
            }
            &:checked::before {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 1304px) {
    .novelties {
        .form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            &::after {
                display: block;
                position: relative;
                grid-column: 2;
                grid-row: 1/span 6;
                right: 0;
                top: 0px;
                bottom: 0px;
                max-width: 584px;
                max-height: 390px;
                min-width: 460px;
                min-height: 391px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .novelties {
		&__top-container {
            padding-top: 32px;
            padding-bottom: 64px;
		}
        .example {
            &__wrapper {
                align-self: center;
                .hidden-mob {
                    display: none;
                }
                .hidden-comp {
                    display: block;
                }
            }
            &__slide {
                gap: 0 32px;
                align-self: center;
                .hidden-mob {
                    display: none;
                }
                .hidden-comp {
                    display: block;
                }
            }
            &__image {
                display: flex;
                align-items: center;
                img {
                    margin: auto;
                }
            }
            &__pagination {
                padding-top: 22px;
            }
        }
		&__bottom-container {
            display: flex;
            justify-content: center;
            max-height: 466px;
		}
        .form {
        display: block;
            &::after {
                display: block;
                position: relative;
                width: 296px;
                height: 200px;
                top: auto;
                margin: 0 auto;
                bottom: -20px;
            }
            &__caption {
                margin-bottom: 16px;
                white-space: normal;
            }
            &__input {
                max-height: 50px;
            }
            &__button {
                padding: 16px 50px;
                font-size: 16px;
                max-height: 50px;
            }
        }
    }
}


@media screen and (max-width: 631px) {
    .novelties {
		&__top-container {
            padding-top: 32px;
            padding-bottom: 64px;
		}
		&__title {
            margin-left: 32px;
            &::before {
                top: 5px;
                left: -32px;
                width: 24px;
                height: 24px;
            }
		}
        &__bottom-container {
            display: block;
        }
        .form {
            &::after {
                min-width: 296px;
                min-height: 200px;
            }
        }
    }
}