.novelties {
    &__container {
    }
    &__top {
        background: $black;
    }
    &__top-container {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    &__title {
        margin-left: 64px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            height: 48px;
            width: 48px;
            top: 10px;
            left: -64px;
            background: url('@img/fire.png') 0 0 no-repeat;
            background-size: contain !important;
        }
    }
    .example {
        padding-top: 32px;
        &__container {
        }
        &__wrapper {
        }
        &__slide {
            display: flex;
            gap: 0 28px;
        }
        &__picture {
            max-height: 300px;
            min-width: 132px;
            min-height: 132px;
            img {
                height: auto;
            }
        }
        &__pagination {
            display: flex;
            justify-content: center;
            position: unset;
            padding-top: 64px;
        }
    }
    &__bottom {
        background: $red;
        overflow: hidden;
    }
    &__bottom-container {
    }
    .form {
        padding-top: 32px;
        padding-bottom: 32px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: -70px;
            bottom: -70px;
            width: 788px;
            height: 528px;
            background: url('@img/OKAY.png') 0 0 no-repeat;
            background-size: contain !important;
        }
        &__caption {
            font-family: Russo One, sans-serif;
            font-size: 20px;
            color: white;
            margin-bottom: 32px;
        }
        &__input {
            display: flex;
            max-width: 460px;
            width: 100%;
            margin-top: 16px;
        }
        &__button {
            margin-top: 16px;
            margin-bottom: 16px;
        }
        &__agreement {
            display: flex;
            align-items: center;
            color: white;
            font-size: 12px;
            font-weight: 700;
            font-family: Muller, sans-serif;
        }
        &__checkbox[type="checkbox"] {
            order: -1;
            display: grid;
            appearance: none;
            margin-right: 8px;
            height: 14px;
            width: 14px;
            border: 1px solid white;
            justify-items: center;
            align-items: center;
            &::before {
                content: "";
                display: none;
                width: 10px;
                height: 10px;
                background: url('@img/icons/icons.svg#check') 0 0 no-repeat;
                background-size: contain !important;
            }
            &:checked::before {
                display: block;
            }
        }
    }
}