doctype html
html(lang="ru")
    head    
        include html/head
        title Aura
    body
        include html/header 
        main.main 
            include html/sections/hero
            include html/sections/auction
            include html/sections/novelties
            include html/sections/request
            include html/sections/top
        include html/footer 
        script(src='js/app.min.js')

