doctype html
html(lang="ru")
    head    
        include html/head
        title Главная
    body
        include html/header 
        main.main Этот текст я написала чтобы проверить как работает типограф
        include html/footer 
        script(src='js/app.min.js')

