$black: #07060B;
$red: #D13130;
$grey_light: #EDEDF2;
$grey_middle: #95959D;
$grey_dark: #717178;
$primary: #46F4DB;
$active:#57D272;
$button: linear-gradient(180deg, #46F4DB 27.08%, #57D272 100%);
$secondary: #FF6F6F;



