@import "reset";
@import "vars";
@import "global";
@import "mixins";
@import "components";
@import "fonts";
@import "vendors";

@import "sections";

body {
    font-family: Muller, sans-serif; 
    font-weight: 700;
}

img {
    object-fit: contain;
}