section.hero
    .hero__container.container 
        h1.hero__title.title Площадка <br>для реализации <br>криптостикеров
        .hero__link-group 
            a.hero__link.button-2(href="#" name="Купить") Купить
            a.hero__link.button-3(href="#" name="Стать автором") Стать автором