section.request 
    .request__container.container 
        h2.request__title.title Стать автором
        p.request__caption-1 Если ты художник или стремишься им стать — добро пожаловать к нам!
        p.request__caption-2 Отправь нам от трёх до пяти своих работ и напиши свой ник в телеграме. Если наши кураторы решат, что нам по пути, то мы обязательно свяжемся с тобой и обговорим условия сотрудничества! <strong>Удачи!</strong>
        form.request__form.form-2(action="#")
            label.form-2__file.file-input(for="input-file")
                input.form-2__upload-photo(type="file" id="input-file" accept="image/png, image/jpeg" name="fh")
                span.form-2__caption.preview Прикрепить работы (.jpeg / .png)
            input.form-2__input.input-2(type="text" placeholder="@telegram_nickname")
            button.form-2__button.button-4(type="submit") Отправить