secction.top
    .top__container
        .top__top
            .top__top-container.container
                h2.top__title.title Топ продаж
                ul.top__example-list
                    include ../mixins/top-card-example
                    li.top__example-item.top-card
                        +card('@img/Holofobia1-mob.png', '@img/Holofobia1.png', 'ttgs', 'Holofobia1', '4.70 ETH ', '($16,873.47)')
                    li.top__example-item.top-card
                        +card('@img/Y.EEE-mob.png', '@img/Y.EEE.png', 'Tat_2', 'Y.EEE', '3.00 ETH ', '($10,731.24)')
                    li.top__example-item.top-card
                        +card('@img/Baby-Joda-mob.png', '@img/Baby-Joda.png', 'Chris22', 'Baby Joda', '2.00 ETH ', '($7,121.04)')
                    li.top__example-item.top-card
                        +card('@img/Infinity_09-mob.png', '@img/Infinity_09.png', 'Oswaald', 'Infinity_09', '1.6109 ETH ', '($5,762.32)')
                    li.top__example-item.top-card
                        +card('@img/Sadsadsad-mob.png', '@img/Sadsadsad.png', 'Paul-22', 'Sadsadsad', '1.50 ETH ', '($5,365.62)')
                    li.top__example-item.top-card
                        +card('@img/Attntn-mob.png', '@img/Attntn.png', 'wardxxx', 'Attntn', '1.0 ETH ', '($3,577.08)')
        .top__bottom 
            .top__bottom-container.container
                p.top__caption Для попадания в топ необходимо:
                    ul.top__list 
                        li.top__list-item Минимум пять опубликованных работ
                        li.top__list-item Инвайт трём коллегам по цеху
                        li.top__list-item Верифицированный аккаунт